<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5" xmlns:genTemplate="http://schemas.microsoft.com/appx/developer/windowsTemplateStudio" xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4" IgnorableNamespaces="uap mp genTemplate">
  <Identity Name="23334SimoneRaspagni.PianteeFiori" Publisher="CN=DEB0FC18-6A00-48C4-A52F-0DE3936B0F26" Version="1.1.21.0" />
  <mp:PhoneIdentity PhoneProductId="ae04cd64-959a-4f51-a9b6-eff5b104b343" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Piante e Fiori</DisplayName>
    <PublisherDisplayName>Simone Raspagni</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Piante_e_Fiori.App">
      <uap:VisualElements DisplayName="ms-resource:AppDisplayName" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="ms-resource:AppDescription" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="Piante e Fiori" Square310x310Logo="Assets\Square310x310Logo.png">
          <uap5:MixedRealityModel Path="Assets\3dlogo.glb" />
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap5:Extension Category="windows.startupTask">
          <uap5:StartupTask TaskId="MyStartupId" Enabled="true" DisplayName="Piante e Fiori" />
        </uap5:Extension>
        <uap:Extension Category="windows.protocol" Executable="Piante_e_Fiori.exe" EntryPoint="Piante_e_Fiori.App">
          <uap:Protocol Name="pf-app">
            <uap:Logo>Assets\Icon.png</uap:Logo>
            <uap:DisplayName>Piante_e_Fiori</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="appointments" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
  <genTemplate:Metadata>
    <genTemplate:Item Name="generator" Value="Windows Template Studio" />
    <genTemplate:Item Name="wizardVersion" Version="v2.4.18260.1" />
    <genTemplate:Item Name="templatesVersion" Version="v2.4.18260.1" />
    <genTemplate:Item Name="projectType" Value="SplitView" />
    <genTemplate:Item Name="framework" Value="CodeBehind" />
    <genTemplate:Item Name="platform" Value="Uwp" />
  </genTemplate:Metadata>
</Package>